.box {
    border: 2px solid black;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 95%;
    height: 95%;

}

button {

    padding: 45px 50px;
    border: 4px solid navy;
    border-radius: 20px;
    background-color: whitesmoke;

    font-family: Georgia;
    font-size: 25px;

    cursor: pointer;

}

.ml {
    margin-left: 100px;
}

.mb {
    margin-bottom: 75px;
}
