body{
    background-color: #76D7C4;
}

input[type=submit]{
  background-color: #17A589;
  border: none;
  color: white;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

h1, h2{
    color: #F2F4F4;
}